<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default}">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<style>
		.box{
			border: solid 1px black;
		}
	</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="content container-fluid">
			<div>사용자 페이지</div>
			<div class="box">
				<div class="box-header with-bordered">
					버튼 모음
				</div>
				<div class="box-body">
					<button class="btn btn-primary" id="viewTable">조회</button>
					<button class="btn btn-warning" id="addRecord">등록</button>
					<button class="btn btn-success" id="updateRecord">수정</button>
					<button class="btn btn-danger" id="deleteRecord">삭제</button>
				</div>
			</div>
			<hr/>
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-bordered">
						<h4>조회 Form</h4>
					</div>
					<div class="box-body">
						<div class="col-md-12">
							<form id="searchForm" method="GET" action="/page1/search">
								<div class="col-md-2 form-group">
									<label>이름</label>
									<input type="text" name="userNm" class="form-control" placeholder="이름 입력"/>
								</div>
								<div class="col-md-2 form-group">
									<label>아이디</label>
									<input type="text" name="userId" class="form-control" placeholder="아이디 입력"/>
								</div>
								<div class="col-md-2 form-group">
									<label>등록일</label>
									<input type="date" name="regiDtFrom" class="form-control" />
									<input type="date" name="regiDtTo" class="form-control" />
								</div>
								<div class="col-md-2 form-group">
									<label>등록자</label>
									<input type="text" name="regiUser" class="form-control" placeholder="등록자 아이디 입력"/>
								</div>
								<div class="col-md-2 form-group">
									<label>수정일</label>
									<input type="date" name="updaDtFrom" class="form-control" />
									<input type="date" name="updaDtTo" class="form-control" />
								</div>
								<div class="col-md-2 form-group">
									<label>수정자</label>
									<input type="text" name="updaUser" class="form-control" placeholder="수정자 아이디 입력"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-bordered">
						<h4>TEST_NOUGAT0 테이블 조회</h4>
					</div>
					<div class="box-body">
						<div id="gridContainer"></div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="col-md-12">
				<div class="box">
					<div class="box-header with-bordered">
						<h4>조회결과 Group-By</h4>
					</div>
					<div class="box-body">
						<div id="groupBy"></div>
					</div>
				</div>
			</div>
			<!--recordModal 시작-->
			<div class="modal fade" id="recordModal" tabindex="-1" role="dialog" aria-labeledby="recordModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title" id="recordModalLabel">회원 입력</h4>
						</div>
						<!-- Modal body -->
						<div class="modal-body">
							<form id="recordForm" method="post">
								<label>이름:</label>
								<input type="text" class="form-control" placeholder="이름을 입력하세요" name="userNm">
								<br />
								<label>아이디:</label>
								<input type="text" class="form-control" placeholder="아이디를 입력하세요" name="userId">
								<br />
								<label>비밀번호:</label>
								<input type="password" class="form-control" placeholder="비밀번호를 입력하세요" name="pw">
								<br />
								<label>비밀번호 확인:</label>
								<input type="password" class="form-control" placeholder="비밀번호를 한 번 더 입력하세요" id="pw2">
								<br />
								<label>등록자 아이디:</label>
								<input type="text" class="form-control" placeholder="ADMIN" value="ADMIN" name="regiUser" id="inputForChange">
							</form>
						</div>
						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="submit" id="submitBtn" class="btn btn-info ">저장</button>
							<button type="button" id="closeBtn" class="btn btn-danger " data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
			<!--addRecordModal 끝-->

		</div>
	</div>
	<th:block layout:fragment="script">
		<script type="text/javascript">
			$(function () {
				//multiple select 전용 변수 초기화
				let selectedRows;

				var ENV_VAL = {
					//Toolbar button
					BTN_INIT : '#viewTable',
					BTN_ADD : '#addRecord',
					BTN_UPDATE : '#updateRecord',
					BTN_DELETE : '#deleteRecord',
					
					//Grid
					GRID : '#gridContainer',
					GRID_GROUPBY : '#groupBy',

					//Modal
					MODAL : '#recordModal',
					MODAL_SUBMIT : '#submitBtn',
					MODAL_CLOSE : '#closeBtn',
					
					//Form
					CRUD_FORM : '#recordForm',
					SEARCH_FORM : '#searchForm',
					
					//Column,Name
					COL_USERID : "userId",
					COL_USERNM : "userNm",
					COL_PW : "pw",
					COL_REGIUSER : "regiUser",
					COL_UPDAUSER : "updaUser",
					
					//Id
					ID_PW2 : "#pw2",
					ID_INPUT_CHANGE : "#inputForChange",
					
					//URL
					URL_VIEW: "/page1/table",
					URL_ADD: "/page1/regi",
					URL_UPDATE: "/page1/update",
					URL_DELETE: "/page1/delete",
					URL_GROUPBY: "/page1/groupBy",
					
					//Type
					TYPE_ADD: '입력',
					TYPE_UPDATE: '수정',
					
					
					
				}
				var VIEW = {
					init : function(){										
						VIEW.gridInit();
						VIEW.btnInit();
						VIEW.modalInit();
						VIEW.searchInit();
						VIEW.groupByInit();
					},
					gridInit: function(){
						//처음 띄울 때는 data가 없습니다 띄우고 조회 누르면 보이게 하기
						GRID.makeGrid(null, ENV_VAL.GRID, GRID.columns, "userId");
					},
					btnInit: function(){ //버튼 함수들 모음 (초기화 상태)
						//button 이벤트 binding
						$(ENV_VAL.BTN_INIT).click(VIEW.viewRecord);
						$(ENV_VAL.BTN_ADD).click(VIEW.addRecord);
						$(ENV_VAL.BTN_UPDATE).click(VIEW.updateRecord);
						$(ENV_VAL.BTN_DELETE).click(VIEW.deleteRecord);
					},
					modalInit: function(){
						// 모달 닫히기 전 (배경클릭) 확인하기
						//$(ENV_VAL.MODAL).on('hide.bs.modal', VIEW.confirmBeforeClose);
						
						$(ENV_VAL.MODAL_CLOSE).click(VIEW.confirmBeforeClose);
						$(ENV_VAL.MODAL_SUBMIT).click(VIEW.submitModal);	
						
						$(ENV_VAL.ID_INPUT_CHANGE).prop('readonly',false);
						$(ENV_VAL.ID_INPUT_CHANGE).removeAttr('name');
						$(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERID+']').prop('readonly',false);
						$(ENV_VAL.CRUD_FORM).find('input').val('').end();
					},
					searchInit: function(){
						$(ENV_VAL.CRUD_FORM).find('input').val('').end();
					},
					groupByInit: function(){
						GRID.makeGrid(null,ENV_VAL.GRID_GROUPBY, GRID.columns_groupBy, "regiDate");
					},
					reFormAndModal: function(type){
						switch(type){
							case "add":
								$(ENV_VAL.MODAL+' .modal-title').text('회원 입력');
								$(ENV_VAL.CRUD_FORM).attr('action',ENV_VAL.URL_ADD);
								$(ENV_VAL.ID_INPUT_CHANGE).attr('name',ENV_VAL.COL_REGIUSER);
								$(ENV_VAL.ID_INPUT_CHANGE).val('ADMIN');
								$(ENV_VAL.ID_INPUT_CHANGE).prop('readonly',true);
								$(ENV_VAL.ID_INPUT_CHANGE).prev().text('등록자 아이디:');
								break;
							case "update":
								$(ENV_VAL.MODAL+' .modal-title').text('회원 수정');
								$(ENV_VAL.CRUD_FORM).attr('action',ENV_VAL.URL_UPDATE);
								$(ENV_VAL.ID_INPUT_CHANGE).attr('name',ENV_VAL.COL_UPDAUSER);
								$(ENV_VAL.ID_INPUT_CHANGE).val('ADMIN');
								$(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERID+']').prop('readonly',true);
								$(ENV_VAL.ID_INPUT_CHANGE).prop('readonly',true);
								$(ENV_VAL.ID_INPUT_CHANGE).prev().text('수정자 아이디:');
								break;
						}
					},
					viewRecord: function(){
						var flag = 0;
						Array.from(document.querySelector(ENV_VAL.SEARCH_FORM).getElementsByTagName('input')).forEach(function(val, idx){
							if(val.value !== '') flag++;
						});
						
						if(flag == 0) {
							GRID_CRUD_SUBMIT.loadDataSource(null, ENV_VAL.GRID, GRID.columns, "userId", ENV_VAL.URL_VIEW);
							GRID_CRUD_SUBMIT.loadDataSource(null, ENV_VAL.GRID_GROUPBY, GRID.columns_groupBy, "regiDate", ENV_VAL.URL_GROUPBY);
						}
						else if(flag > 0) 
							VIEW.searchRecord();
					},
					searchRecord: function(){
						var obj = {};
						var form = $(ENV_VAL.SEARCH_FORM).serializeArray();
						$.map(form, function(value, index){
							obj[value['name']] = value['value'];
						});
						var formJSON = JSON.stringify(obj);
						GRID_CRUD_SUBMIT.loadDataSource(formJSON, ENV_VAL.GRID, GRID.columns, "userId", ENV_VAL.URL_VIEW);
						GRID_CRUD_SUBMIT.loadDataSource(formJSON, ENV_VAL.GRID_GROUPBY, GRID.columns_groupBy, "regiDate", ENV_VAL.URL_GROUPBY);
					},
					addRecord: function(){
						VIEW.reFormAndModal('add');
						VIEW.openModal();
					},
					updateRecord: function(){
						//하나만 선택했는지 확인하는 로직
						if (selectedRows === undefined) {
							alert('수정할 회원을 선택해주세요!');
							return false;
						} else if (selectedRows.selectedRowKeys.length > 1) {
							alert('한 번에 한 명만 수정할 수 있습니다');
							return false;
						} else if (selectedRows.selectedRowKeys[0] == 'ADMIN'){
							alert('⛔관리자 계정은 수정할 수 없습니다⛔');
							return false;
						}
						//input 태그 채워넣기
						var data = selectedRows.selectedRowsData[0];
						$(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERNM+']').val(data.userNm);
						$(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERID+']').val(data.userId); //2개 선택
						$(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_UPDAUSER+']').val(data.updaUser);
						
						VIEW.reFormAndModal('update');
						VIEW.openModal();
					},
					deleteRecord: function(){
						if (selectedRows === undefined) {
							alert('삭제할 회원을 선택해주세요!');
							return false;
						} else if(selectedRows.selectedRowKeys[0] == 'ADMIN'){
							alert('⛔관리자 계정은 삭제할 수 없습니다⛔');
							return false;
						}
						//n개의 행 삭제하시겠습니까? confirm
						else if (!confirm(selectedRows.selectedRowKeys.length + '명의 정보를 삭제하시겠습니까?')) return false;
						else {
							GRID_CRUD_SUBMIT.deleteMember(selectedRows.selectedRowKeys);
						}
											
					},

					openModal: function(){
						//modal 열기
						$(ENV_VAL.MODAL).modal('show');
					},
					
					submitModal: function(){
						//매개변수를 못 받으니까 type은 클릭한 모달에 입력된 값을 통해서 확인
						var type = $(this).parent().prev().prev().children('.modal-title').text().split(' ')[1];
						if(type == ENV_VAL.TYPE_ADD) type = 'add';
						else type = 'update';
						console.log('submitModal 함수 안에 들어옴:'+type);
						GRID_CRUD_SUBMIT.validationAndSubmit(type);
						//GRID_MODAL.modalClose(type);
						//VIEW.confirmBeforeClose(type);
						VIEW.closeModal();					
					},
					confirmBeforeClose: function(){
						var type = $(this).parent().prev().prev().children('.modal-title').text().split(' ')[1];
						if(!confirm(type+'을(를) 취소하시겠습니까?')) {
							console.log("⛔");			
							return false;
							console.log("⛔⛔");			
						}
						else VIEW.closeModal();			
					},
					closeModal: function(){
						//VIEW.modalInit();	
						//modal 닫기
						//document.getElementById('recordModal').
						//$(ENV_VAL.MODAL).hide();
						console.log("modal 여깄슴당:"+'#recordModal');					
						console.log(" 🔔🔔 ");			
						
						//modal 닫히면 input 값들 비우기
						$(ENV_VAL.CRUD_FORM).find('input').val('').end();					
						console.log(" 🔔🔔🔔 ");			
						$(ENV_VAL.MODAL).modal('hide');
					},
					
					
				}


				// 🔔 Spring 과제 2차 🔔
				var GRID = { //grid 를 만드는 데 필요한 속성들 정의
					columns: [{
						dataField: "userNm"
						, caption: "이름"
					}, {
						dataField: "userId"
						, caption: "아이디"
						, fixed: true //엑셀에서 n열까지 고정 기능과 유사. 가로 스크롤이 생길 시 해당 컬럼을 고정해서 항상 보이게 함.
						, sortOrder: "asc" //내림차순 정렬
					}, {
						dataField: "pw"
						, caption: "비밀번호"
						, visible: false
					}, {
						dataField: "regiDt"
						, caption: "등록일"
						, dataType: "date"
						, format: "yyyy-MM-dd"
					}, {
						dataField: "regiUser"
						, caption: "등록자 아이디"
						//dataType: "text"
						//데이터 타입 디폴트는 text, 이 경우에는 명시 안해줘도 됨
					}, {
						dataField: "updaDt"
						, caption: "수정일"
						, dataType: "date"
						, format: "yyyy-MM-dd"
					}, {
						dataField: "updaUser"
						, caption: "수정자 아이디"  //dataField 외에 명시할 속성이 없다면 중괄호 없이 그냥 "컬럼명" 만 추가해도 됨.
					}]
					, 
					columns_groupBy:[
					{
						dataField: "regiDate"
						,caption: "등록일"
						, format: "yyyy-MM-dd"
					},{	
						dataField: "accountSum"
						,caption: "계정 수"
					}]
					, makeGrid: function (data, gridSelector, columns, keyExpr) {
						var grid = $(gridSelector).dxDataGrid({
							dataSource: data //array 전달, 함수 넣어도 됨 (return 값 전달)
							, keyExpr: keyExpr //pk의 필드명 넘기기
							// array 외의 데이터를 넘기고 싶을 경우(JSON) Docs 참고
							, columns: columns//사용하는 컬럼정보 배열로 넘기기 [{컬럼1정보},{컬럼2정보},{컬럼3정보}]
							, noDataText: "데이터가🔔없습니다"
							, allowColumnResizing: false
							, columnAutoWith: true
							, columnFixing: { enabled: true }
							, sorting: { mode: "single" } //정렬 옵션을 단일정렬만 하기. (다중 정렬x)
							, searchPanel: {
								visible: true
								, placeholder: "검색"
							} //검색창 추가
							, selection: { mode: "multiple" } //다중 선택 옵션 on
							, onSelectionChanged: function (e) {
								selectedRows = e;
							}
							, toolbar: {
								items: [
									"searchPanel"
								]
							}
						}).dxDataGrid("instance"); // instance 가져와서 담기
						return grid;
					}
				}///GRID

				var GRID_CRUD_SUBMIT = {
					loadDataSource: function(searchForm, gridSelector, columns, keyExpr, url){
						
						$.ajax({
							url: url, 
							type: 'post',
							//search 인수 전달 시 data 전달하기... 컨트롤러에서 null 체크하기
							data: searchForm,						
							dataType: 'json',
							contentType: "application/json; charset=UTF-8",
							success: function (data, status, xhr) {
								GRID.makeGrid(data, gridSelector, columns, keyExpr);
							},
							error: function (request, status, error) {
								alert('데이터 로드중 오류 발생');
								console.log('request.status: ' + request.status + 'status: ' + status + 'error: ' + error);
							}
						});
						//console.log('ajax로 새로 데이터를 받아왔어요');
					}
					, loadGroupByDataSource: function(searchForm){
						$.ajax({
							url: ENV_VAL.URL_GROUPBY,
							type: 'post',
							data: searchForm,
							dataType: 'json',
							contentType: "application/json; charset=UTF-8",
							success: function (data, status, xhr) {
								GRID.makeGrid(data, ENV_VAL.GRID_GROUPBY, GRID.columns_groupBy, "regiDate");
							},
							error: function (request, status, error) {
								alert('데이터 로드중 오류 발생');
								console.log('request.status: ' + request.status + 'status: ' + status + 'error: ' + error);
							}							
						})
					}
					, addMember: function (form) {
						//ajax로 db에 데이터 입력 요청
						$.ajax({
							url: ENV_VAL.URL_ADD,
							type: 'post',
							data: form, //form태그에 serialize() + JSON.stringify()
							dataType: 'text',
							contentType: 'application/json',
							success: function (data, status, xhr) {
								GRID_CRUD_SUBMIT.loadDataSource(null, ENV_VAL.GRID, GRID.columns, "userId", ENV_VAL.URL_VIEW);
								alert('정상 입력되었습니다');
							},
							error: function (request, status, error) {
								alert('입력 중 에러');
								console.log('request.status: ' + request.status + 'status: ' + status + 'error: ' + error);
							}
						});
					}
					, updateMember: function (form) {
						//ajax로 db에 데이터 수정 요청
						$.ajax({
							url: ENV_VAL.URL_UPDATE,
							type: 'post',
							data: form,
							dataType: 'text',  
							contentType: 'application/json', //serializeObject
							success: function (data, status, xhr) {
								GRID_CRUD_SUBMIT.loadDataSource(null, ENV_VAL.GRID, GRID.columns, "userId", ENV_VAL.URL_VIEW);
								alert('정상 수정되었습니다');
							},
							error: function (request, status, error) {
								alert('수정 중 에러');
								console.log('request.status: ' + request.status + 'status: ' + status + 'error: ' + error);
							}

						});
					}
					, deleteMember: function (key) {
						//ajax로 db에 데이터 수정 요청
						$.ajax({
							url: ENV_VAL.URL_DELETE,
							type: 'post',
							data: {key: key},
							dataType: 'json',
							contentType: "application/x-www-form-urlencoded; charset=UTF-8", //배열을 넘길 거라서
							success: function (data, status, xhr) {
								GRID_CRUD_SUBMIT.loadDataSource(null, ENV_VAL.GRID, GRID.columns, "userId", ENV_VAL.URL_VIEW);
								alert('정상 삭제되었습니다');
							},
							error: function (request, status, error) {
								alert('삭제 중 에러');
								console.log('request.status: ' + request.status + 'status: ' + status + 'error: ' + error);
							}

						});
					}
					, validationAndSubmit: function (type) {
						if ($(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERNM+']').val() == '') {
							alert('이름을 입력하세요');
							return false;
						}
						else if ($(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_USERID+']').val() == '') {
							alert('아이디를 입력하세요');
							return false;
						}
						else if ($(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_PW+']').val() == '') {
							alert('비밀번호를 입력하세요');
							return false;
						}
						else if ( type=="add" && $(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_PW+']').val() != $(ENV_VAL.ID_PW2).val()) {
							alert('비밀번호가 일치하지 않습니다');
							return false;
						}
						else if(type == 'add'){ //그냥 &&로 묶으면 null/undefined에 .val() 읽어오려고 한다고 안된다 할 것 같음
							if ($(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_REGIUSER+']').val() == '') {
								alert('등록자 아이디를 입력하세요');
								return false;
							}
						}
						else if(type== 'update'){
							if ($(ENV_VAL.CRUD_FORM+' input[name='+ENV_VAL.COL_UPDAUSER+']').val() == '') {
								alert('수정자 아이디를 입력하세요');
								return false;
							}
						}
						
						var obj = {};
						var form = $(ENV_VAL.CRUD_FORM).serializeArray();
						
						$.map(form, function(value, index){
							console.log(index+':'+value);
							obj[value['name']] = value['value'];
						});

						var formJSON = JSON.stringify(obj);
						switch (type) {
							case "add": 
								GRID_CRUD_SUBMIT.addMember(formJSON);
								break;
							case "update": 
								GRID_CRUD_SUBMIT.updateMember(formJSON); 
								break;
							default:console.log("이상하다 왜 여기로 들어오지?"); break;
							}
					}
					, ifBlankReturnFalse: function (type, inputClass, message) {
						if ($('#' + type + 'RecordForm > input[class=' + inputClass + ']').val() == '') {
							alert(message + '을(를) 입력하세요');
							return false;
						}
					}
				}///GRID_CRUD_SUBMIT

				//초기화
				VIEW.init();


				
			});
		</script>
	</th:block>
</body>

</html>